<div class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron mt-4">
                <h2 class="display-4">Notes App in NodeJs and MongoDB</h2>
                <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere explicabo ea commodi labore, hic, iste
                corporis
                ipsum, reprehenderit totam ad neque aliquid temporibus debitis quaerat quod quo aspernatur optio
                molestiae?</p>

            </div>
        </div>
    </div>
</div>