<h1>Navigation</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere explicabo ea commodi labore, hic, iste corporis
    ipsum, reprehenderit totam ad neque aliquid temporibus debitis quaerat quod quo aspernatur optio molestiae?</p>
<h2>
    <footer>Footer</footer>
</h2>